<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat box</title>
</head>
<body>
    <a href="http://localhost:8001/vn/chatbox">VN chat box</a>
    <a href="http://localhost:8002/en/chatbox">EN chat box</a>
</body>
</html>